Flask>=1.1.2
python-dotenv>=0.14.0
requests>=2.23.0
urllib3>=1.25.9
gevent==20.9.0
gunicorn==20.0.4
pandas==1.1.2
flask-cors==3.0.10
certifi==2020.6.20
click==7.1.2
html5lib==1.1
itsdangerous==1.1.0
Jinja2==2.11.2
lxml==4.5.2
MarkupSafe==1.1.1
mechanize==0.4.5
pdfkit==0.6.1
six==1.15.0
soupsieve==2.0.1
webencodings==0.5.1
Werkzeug==1.0.1
wincertstore==0.2
wkhtmltopdf==0.2